
.navbar{
    background-color: #302D40;
    color: #2BD9A8;
    text-align: center;

}

 
@media (min-width: 991px){
  #navbarNav{
    display: flex;
    justify-content: center;
    font-weight: 600;
   }

}

.nav-link{
  color:#d8dfdf; ;

}

.navbar-toggler{
  color: #2BD9A8;
}