
.navbar{
    background-color: #302D40;
    color: #2BD9A8;
}

@media (min-width: 991px){
  #navbarNav{
    display: flex;
    justify-content: center;
    font-weight: 600;
   }

}

.nav-link{
  color:#d8dfdf; ;
  margin-right:20px;

}

.nav-link:hover{
  color: #2BD9A8;
}

.navbar-toggler{
  color: #2BD9A8;
}