main{
    margin-bottom: 50px;
}
#title{
    color:#d8dfdf;
    text-align: center;
    margin-top: 70px;
}

span{
    color: #2BD9A8;
    font-weight: 650;
}

#text{
    color: #d8dfdf;
    font-size: clamp(1em,1em+1vw,1.25rem);
    text-align: justify;
}


@media (min-width: 1245px){

    #text{
        
        font-size: 1.5rem;
        text-align: justify;
        width: 80%;
        margin-top: 30px;
    }

 }

#img-historia{
    display: flex;
    align-items: center;
}


.title-2{
    color: azure;
    text-align: center;
    margin-top: 25%;
    font-size: 2.2em;
    padding: 10px;
}

.text-2{
    color: azure;
    border-radius: 15px;
    text-align: justify;
}

.qualidades{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.qualidades i{
    display: flex;
    align-items: center;
    background-color: #2BD9A8;
    color: #0F4037;
    padding: 15px;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.384);
}

.text-qualidades{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 45px;
    margin-top: 10px;
    justify-content: space-around;
    color: #2BD9A8;
}
.tel{
    border: none;
    color: #0F4037;
    background-color:#2BD9A8;
    padding: 10px;
    border-radius: 10px;
    width: 3.0em;
    transition: background-color .3s ease;
}

.tel:hover{
    background-color: #0F4037;
    color: #2BD9A8;
}

#phone_button{
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: azure;
    color: #0F4037;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0,0, 0,0.1 );
    border-radius: 12px;
    text-decoration: none;
    
}
@media (max-width: 999px){
    #img-historia{
        display: none;
    }

}

  
@media (max-width: 800px) {
    .text-2 {
        font-size: 0.6em;
    }

    .text-qualidades {
        font-size: 0.7em;
        margin-left: 16px;
    }

    #midias_1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px; 
        margin-top: 20px;     
    }

    #phone_button {
        width: 60%;
        margin-top: 20px;
    }
}

  

