@import url('header.css');
@import url('main.css');
@import url('testimonials.css');
@import url('footer.css');


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  background-color: #302D40;
  font-family: "Poppins", sans-serif;

}

.button {
  background-color: #ffffff00;
  color: azure;
  width: 9.9em;
  height: 3.3em;
  border: #2BD9A8 0.2em solid;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
  font-weight: 500;
}

.button:hover {
  background-color: #2BD9A8;
  cursor: pointer;
  color: #0F4037;
}

.button svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

.button:hover svg {
  transform: translateX(5px);
}

.txt-button{
  width: 10.0em;
  font-size: 0.9em;
  text-align: center;

}

.botoes-e-midia{
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}

.midias{
  color: #0F4037;
}

.midias i {
  margin: 5px;
  background-color: #A7F2BA;
  padding: 13px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.589);
  cursor: pointer;
  transition: background-color .3s ease;
  
}

.midias i:hover{
  background-color: #0F4037;
  color: #2BD9A8;
}
